.boton-regresar {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 3;
  color: white;
  background: transparent;
  font-size: 14px;
  --background: none;
  --color: white;
}

h5 {
  margin: 50px 0px 10px 0;
}

.notificaciones {
  margin: 28px;
}

.boton-regresar ion-icon {
  color: white;
  font-size: 20px;
}

.imagen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

ion-item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between; /* Para separar los elementos a los extremos */
  align-items: center; /* Alinea verticalmente el contenido */
}

ion-toggle {
  transform: scale(0.7); /* Reduce el tamaño del toggle */
  margin-left: auto; /* Empuja el toggle hacia la derecha */
}

ion-label {
  flex-grow: 1; /* El label ocupa el espacio restante */
  text-align: left; /* Alinea el texto del label a la izquierda */
  margin-right: 10px; /* Añade espacio entre el label y el toggle */
}
