<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="56" src="assets/images/cardImage.png" />

    <ion-card-header>
      <ion-card-title>Meditación Guiada</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-accordion-group>
      <ion-accordion value="sesiones">
        <ion-item slot="header">
          <ion-label>Sesiones</ion-label>
        </ion-item>
        <div slot="content">
          <ion-item (click)="navigateToSelectSesion(1)" button> Nueva Sesión </ion-item>
          <ion-item (click)="navigateToSelectSesion(2)" button> Mis Sesiones </ion-item>
        </div>
      </ion-accordion>
    
      <ion-accordion value="diario">
        <ion-item slot="header">
          <ion-label>Diario de Meditación</ion-label>
        </ion-item>
        <div slot="content">
          <ion-item (click)="navigateToSelectSesion(3)" button>Registra Información</ion-item>
        </div>
      </ion-accordion>
    
      <ion-accordion value="configuracion">
        <ion-item slot="header">
          <ion-label>Configuración</ion-label>
        </ion-item>
        <div slot="content">
          <ion-item (click)="navigateToSelectSesion(4)" button> Notificaciones </ion-item>
          <ion-item (click)="navigateToSelectSesion(5)" button> Temas </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    
  </ion-card>
</ion-content>
