/* ion-content {
    --background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(29, 28, 94, 0.8), rgba(0, 0, 7, 0.8), rgba(0, 0, 0, 0)),
                    url('../../assets/images/Wellcome.jpeg') no-repeat  top center;
} */

ion-toolbar {
    text-align: center !important;
}
  
ion-card-title {
    text-align: center;
}

ion-text {
    height: center;
}

.image-header {
    height: 200px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(29, 28, 94, 0.4), rgba(29, 28, 94, 10)),
                url('../../assets/images/Wellcome.jpeg') no-repeat  top center;
    background-size: contain;
}

.content {
    background: linear-gradient(to bottom, rgba(29, 28, 94, 10), rgba(29, 28, 94, 0.8), rgba(29, 28, 94, 0.4),  rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    padding: 46px;
    text-align: center;
    line-height: 1.8;
}

ion-button {
    width: 50%;
}

.div-button-center {
    display: flex;
    justify-content: center;
}