<ion-button class="boton-regresar" (click)="goBack()">
  <ion-icon name="arrow-back" slot="start" style="font-size: 20px;"></ion-icon>  
</ion-button>  

<ion-content [fullscreen]="true">

  <img class="imagen" src="assets/images/imagensesion.jpg" />

  <div class="title-container">
    <ion-card-title>Seleccione su Sesión</ion-card-title>
  </div>

  <div class="date-time-container">
    <ion-item class="camposfechas">
      <input [(ngModel)]="selectedDate" class="fecha-time" type="date" name="fecha" />
    </ion-item>
    <ion-item>
      <input [(ngModel)]="selectedTime" class="fecha-time" type="time" name="horaInicio" />
    </ion-item>
  </div>

  <!-- seleccion de tema de sesion -->
  <div class="container-session">
    <ion-card class="container-session--card" 
      *ngFor="let session of sessions"
      [class.selected]="session.selected"
      (click)="selectSession(session)">
      <div>
        <img alt="session.tittle" [src]="session.image"/>
      </div>
      <div class="container-session--text_card">
        <ion-card-header>
          <ion-card-subtitle>{{ session.title }}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <b>Objetivo:</b> {{ session.objective }}
        </ion-card-content>
      </div>
    </ion-card>
  </div>
<!--
  <ion-item>
    <div *ngIf="loading">Cargando sesiones...</div>
    <div *ngIf="!loading && sessions.length === 0">No hay sesiones registradas.</div>
    <ul>
      <li *ngFor="let session of sessions">
        ID: {{session.id}} - Fecha: {{ session.date }} - Hora: {{ session.time }} - Pensamiento: {{session.pensamiento}}
      </li>
    </ul>
  </ion-item>
  -->

  <!-- Boton  -->
  <div class="title-container">
    <!-- Botón de confirmación con indicador de carga -->
    <ion-button
      class="boton-confirmar"
      [disabled]="!selectedDate || !selectedTime || isLoading"
      (click)="confirmSelection()">
      <ion-spinner *ngIf="isLoading" name="dots" slot="start"></ion-spinner>
      {{ isLoading ? 'Guardando...' : 'Confirmar' }}
    </ion-button>
  </div>

  <div class="title-container">
    <ion-text color="danger" *ngIf="!selectedDate || !selectedTime">
      Por favor seleccione fecha y hora.
    </ion-text>
    <ion-text color="success" *ngIf="isConfirmActive">
      Fecha: {{ selectedDate }} <br>
      Hora: {{ selectedTime }}
    </ion-text>    
  </div>

  <div class="error" *ngIf="errorMessage">
    <ion-text class="texterror" color="danger">{{ errorMessage }}</ion-text>
  </div>

  <ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="closeModal()" class="custom-modal">
    <ng-template>
      <div class="modal-content">
        <h2>¡Sesión Agendada!</h2>
        <p>Fecha: {{ selectedDate }}</p>
        <p>Hora: {{ selectedTime }}</p>
        <p>Sesion:{{ selectedSession?.title}} </p>
        <ion-button (click)="resetFields()">OK</ion-button>
      </div>
    </ng-template>
  </ion-modal>

</ion-content>
