<ion-button class="boton-regresar" (click)="goBack()">
  <ion-icon name="arrow-back" slot="start" style="font-size: 20px;"></ion-icon>  
</ion-button>  

<ion-content [fullscreen]="true">
  <div class="background-container">
    <img class="imagen" src="assets/images/imagensesion.jpg" />
  </div>

  <div class="title-container">
    <ion-card-title>Seleccione su Sesión</ion-card-title>
  </div>

  <div class="date-time-container">
    <ion-item class="camposfechas">
      <input [(ngModel)]="selectedDate" class="fecha-time" type="date" name="fecha" />
    </ion-item>
    <ion-item>
      <input [(ngModel)]="selectedTime" class="fecha-time" type="time" name="horaInicio" />
    </ion-item>
  </div>

  <ion-card-header>
    <h5>Selecciona una sesión</h5>
  </ion-card-header>
  
  <ion-card-content class="transparent-bg">
    <ion-item *ngFor="let session of selectsessions" (click)="selectSession(session)">
      <ion-label>{{ session.title }}: {{ session.objective }}</ion-label>
      <img [src]="session.image" alt="" style="width: 100px; height: auto;">
    </ion-item>
  </ion-card-content>

  <ion-footer class="footer">
    <ion-toolbar>
      <ion-buttons slot="end" class="button-container">
        <ion-button
          class="boton-confirmar"
          [disabled]="!selectedDate || !selectedTime || !selectedSession || isLoading"
          (click)="confirmSelection()">
          <ion-spinner *ngIf="isLoading" name="dots" slot="start"></ion-spinner>
          {{ isLoading ? 'Guardando...' : 'Confirmar' }}
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>

  <div class="title-container">
    <ion-text color="danger" *ngIf="!selectedDate || !selectedTime">
      Por favor seleccione fecha y hora.
    </ion-text>
    <ion-text color="success" *ngIf="isConfirmActive">
      Fecha: {{ selectedDate }} <br>
      Hora: {{ selectedTime }} <br>
      Sesion: {{ selectedSession?.title}} 
    </ion-text>    
  </div>

  <div class="error" *ngIf="errorMessage">
    <ion-text class="texterror" color="danger">{{ errorMessage }}</ion-text>
  </div>

  <ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="closeModal()" class="custom-modal">
    <ng-template>
      <div class="modal-content">
        <h2>¡Sesión Agendada!</h2>
        <p>Fecha: {{ selectedDate }}</p>
        <p>Hora: {{ selectedTime }}</p>
        <p>Sesion: {{ selectedSession?.title}} </p>
        <ion-button (click)="resetFields()">OK</ion-button>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
