<ion-header>
  <ion-toolbar>
    <ion-title>Reproducción de Meditación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
  <div class="session-info">
    <ion-text>
      <h2>Duración: 15 minutos</h2>
      <p>Tiempo actual: {{ currentTime }}</p>
    </ion-text>
  </div>

 
  <ion-item lines="none">
    <ion-label>Progreso</ion-label>
    <ion-progress-bar value="{{ progress / 100 }}" buffer="1"></ion-progress-bar>
  </ion-item>

 
  <div class="controls">
    <ion-button (click)="skipBackward()" fill="clear" color="medium">
      <ion-icon name="play-back-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="togglePlay()" color="primary">
      <ion-icon [name]="isPlaying ? 'pause-circle-outline' : 'play-circle-outline'"></ion-icon>
    </ion-button>

    <ion-button (click)="skipForward()" fill="clear" color="medium">
      <ion-icon name="play-forward-outline"></ion-icon>
    </ion-button>
  </div>

  
  <ion-item lines="none">
    <ion-label>Tiempo restante</ion-label>
    <ion-text class="time-remaining">
      <h3>{{ duration - (progress / 100) * duration }} min restantes</h3>
    </ion-text>
  </ion-item>


  <div class="end-session">
    <ion-button expand="full" color="danger" (click)="stopPlayback()">Detener sesión</ion-button>
  </div>
</ion-content>

