<ion-button class="boton-regresar" (click)="goBack()">
  <ion-icon name="arrow-back" slot="start" style="font-size: 20px;"></ion-icon>
</ion-button>

<ion-content [fullscreen]="true">

  <img class="imagen" src="assets/images/imagenConfig.jpeg" />

  <div class="title-container">
    <ion-card-title>Diarios</ion-card-title>
  </div>

  <div class="Sesiones">
    <ion-card-header>
      <h5>Selecciona una sesion</h5>
    </ion-card-header>

    <ion-card-content>
      <ion-item *ngFor="let session of sessions" (click)="selectSession(session)">
        <ion-label>Fecha: {{ session.date }} - Hora: {{ session.time }} - pensamiento: {{ session.pensamiento }}</ion-label>
      </ion-item>
    </ion-card-content>
  </div>

  <div class="Sesiones"> 
    <ion-card-header> 
      <h5>Registra tus pensamientos</h5> 
    </ion-card-header> 
    <ion-item> 
      <ion-input type="text" [(ngModel)]="selectedSessionText"></ion-input> 
    </ion-item> 
    <ion-button (click)="saveThought()">Guardar pensamiento</ion-button> </div>
</ion-content>
